/*============================================================================== header=========================================================================================================== */
.header_nav {display: flex; height: 130px; width: 1920px;} 
.header_nav header{display: flex; align-items: center;}
.header_nav header h1{}
.header_nav header h1 a{margin-left: 90px; margin-right: 270px;}
.header_nav header h1 a img{}
.header_nav header nav{}
.header_nav header nav .nav_bg{}
.header_nav header nav .nav_bg a{margin-right: 80px;}
.header_nav header .nav_icons{margin-left: 213px;}
.header_nav header .nav_icons a{}
.header_nav header .nav_icons a img{}
/*============================================================================== bg1=========================================================================================================== */
.visual {width: 1920px;}
.visual .slide1 {background-image: url(../images/bg1_1.jpg);}
.visual .slide2 {background-image: url(../images/bg1_1.jpg);}
/*============================================================================== bg2=========================================================================================================== */
.bg2 {}
.bg2 .bg2_left{}
.bg2 .bg2_left h1{font-family: "Playfair+Display", "맑은고딕",sans-serif;}
.bg2 .bg2_left h2{}
.bg2 .bg2_left p{}
.bg2 .bg2_left h3{}
.bg2 .bg2_left a{}
.bg2 .bg2_left a img{}
.bg2 .bg2_right{}
.bg2 .bg2_right h1{}
.bg2 .bg2_right h1 img{}
/*============================================================================== bg3=========================================================================================================== */
.bg3 {}
.bg3 h1 {}
.bg3 h1 img{}
.bg3 .best_nav{}
.bg3 .best_nav a{}
.bg3 .best_menu{}
.bg3 .best_menu .best_menu1{}
.bg3 .best_menu .best_menu1 h1{}
.bg3 .best_menu .best_menu1 h1 img{}
.bg3 .best_menu .best_menu1 h2{}
.bg3 .best_menu .best_menu1 p{}
.bg3 .best_menu .best_menu2{}
.bg3 .best_menu .best_menu2 h1{}
.bg3 .best_menu .best_menu2 h1 img{}
.bg3 .best_menu .best_menu2 h2{}
.bg3 .best_menu .best_menu2 p{}
.bg3 .best_menu .best_menu3{}
.bg3 .best_menu .best_menu3 h1{}
.bg3 .best_menu .best_menu3 h1 img{}
.bg3 .best_menu .best_menu3 h2{}
.bg3 .best_menu .best_menu3 p{}
.bg3 .best_menu .best_menu4{}
.bg3 .best_menu .best_menu4 h1{}
.bg3 .best_menu .best_menu4 h1 img{}
.bg3 .best_menu .best_menu4 h2{}
.bg3 .best_menu .best_menu4 p{}
/*============================================================================== bg4=========================================================================================================== */
.bg4 {}
.bg4 h1{}
.bg4 h1 img{}
.bg4 .bg4_detail{}
.bg4 .bg4_detail h2{font-family: "Red+Hat+Display", "맑은고딕",sans-serif;}
.bg4 .bg4_detail h3{}
.bg4 .bg4_detail p{}
.bg4 .bg4_detail a{}
.bg4 .bg4_detail a img{}
/*============================================================================== bg5=========================================================================================================== */
.bg5 {}
.bg5 .bg5_left{}
.bg5 .bg5_left h1{}
.bg5 .bg5_left h1 img{}
.bg5 .bg5_left .bg5_left_cosmetics{}
.bg5 .bg5_left .bg5_left_cosmetics a{}
.bg5 .bg5_left .bg5_left_cosmetics a img{}
.bg5 .bg5_left .bg5_left_cosmetics h2{}
.bg5 .bg5_left .bg5_left_cosmetics p{}
.bg5 .bg5_left .bg5_left_cosmetics h3{}
.bg5 .bg5_left .bg5_left_cosmetics h3 img{}
.bg5 .bg5_left .bg5_right{}
.bg5 .bg5_left .bg5_right h1{}
.bg5 .bg5_left .bg5_right h1 img{}
/*============================================================================== bg6=========================================================================================================== */
.bg6 {}
.bg6 a{}
.bg6 a img{}
/*============================================================================== bg7=========================================================================================================== */
.bg7 {}
.bg7 h1{}
.bg7 h1 img{}
.bg7 .bg7_left{}
.bg7 .bg7_left h2{font-family: "Playfair+Display" ,sans-serif;}
.bg7 .bg7_left h3{}
.bg7 .bg7_left h4{}
.bg7 .bg7_left a{}
.bg7 .bg7_left a img{}
.bg7 .bg7_left h5{}
.bg7 .bg7_left h5 img{}
.bg7 .bg7_right{}
.bg7 .bg7_right h2{}
.bg7 .bg7_right h2 img{}
/*============================================================================== bg8=========================================================================================================== */
.bg8 {}
.bg8 h1 {}
.bg8 h1 img{}
.bg8 .bg8_menu{}
.bg8 .bg8_menu .bg8_menu1{}
.bg8 .bg8_menu .bg8_menu1 h2{}
.bg8 .bg8_menu .bg8_menu1 h2 img{}
.bg8 .bg8_menu .bg8_menu1 h3{}
.bg8 .bg8_menu .bg8_menu1 a{}
.bg8 .bg8_menu .bg8_menu2{}
.bg8 .bg8_menu .bg8_menu2 h2{}
.bg8 .bg8_menu .bg8_menu2 h2 img{}
.bg8 .bg8_menu .bg8_menu2 h3{}
.bg8 .bg8_menu .bg8_menu2 a{}
.bg8 .bg8_menu .bg8_menu3{}
.bg8 .bg8_menu .bg8_menu3 h2{}
.bg8 .bg8_menu .bg8_menu3 h2 img{}
.bg8 .bg8_menu .bg8_menu3 h3{}
.bg8 .bg8_menu .bg8_menu3 a{}
/*============================================================================== bg9=========================================================================================================== */
.bg9 {}
.bg9 h1{}
.bg9 h1 img{}
.bg9 p{}
.bg9 h2{}
.bg9 h2 img{}
.bg9 .bg9_right{}
.bg9 .bg9_right h3{}
.bg9 .bg9_right h3 img{}
.bg9 .bg9_right h4{}
.bg9 .bg9_right h4 img{}
.bg9 .bg9_right h5{}
.bg9 .bg9_right h5 img{}
.bg9 .bg9_right a{}
.bg9 .bg9_right a img{}
.bg9 .bg9_right h6{}
.bg9 .bg9_right h6 img{}
/*============================================================================== footer=========================================================================================================== */
footer {}
footer .f_top{}
footer .f_top a{}
footer .f_mid{}
footer .f_mid .f_mid1{}
footer .f_mid .f_mid1 dl{}
footer .f_mid .f_mid1 dl dt{}
footer .f_mid .f_mid1 dl dt span{}
footer .f_mid .f_mid1 dl dd{}
footer .f_mid .f_mid2{}
footer .f_mid .f_mid2 dl{}
footer .f_mid .f_mid2 dl dt{}
footer .f_mid .f_mid2 dl dt span{}
footer .f_mid .f_mid2 dl dd{}
footer .f_sns{}
footer .f_sns a{}
footer p{}