/*============================================================================== header=========================================================================================================== */
.header_nav {display: flex; height: 130px; } 
.header_nav header{display: flex; align-items: center;}
.header_nav header h1{}
.header_nav header h1 a{margin-left: 90px; margin-right: 270px;}
.header_nav header h1 a img{}
.header_nav header nav{}
.header_nav header nav .nav_bg{}
.header_nav header nav .nav_bg a{margin-right: 80px; font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 1.25rem; }
.header_nav header .nav_icons{margin-left: 100px;}
.header_nav header .nav_icons a{}
.header_nav header .nav_icons a img{}
/*============================================================================== bg1=========================================================================================================== */
main .bg1 .visual {height: 719.03px;}
main .bg1 .visual .swiper-wrapper .slide1 {background-image: url(../images/bg1_1.jpg);}
main .bg1 .visual .swiper-wrapper .slide2 {background-image: url(../images/bg1_1.jpg);}
/*============================================================================== bg2=========================================================================================================== */
.bg2 {display: flex;}
.bg2 .bg2_left{margin-left: 94px; margin-top: 156px;}
.bg2 .bg2_left h1{font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 2.5rem; line-height: 1.2;}
.bg2 .bg2_left h2{margin-top: 10px; font-size: 1.25rem;font-family: "Red Hat Display", "맑은고딕",sans-serif; margin-bottom: 13px;}
.bg2 .bg2_left p{margin-bottom: 48px;}
.bg2 .bg2_left h3{margin-bottom: 35px;}
.bg2 .bg2_left a{}
.bg2 .bg2_left a img{}
.bg2 .bg2_right{margin-top: 84px;} 
.bg2 .bg2_right h1{}
.bg2 .bg2_right h1::before{content: ''; display: inline-block; width: 1px; height: 292px; background-color: #BEBEBE; position: relative; top: -130px; margin-left: 157px;}
.bg2 .bg2_right h1 img{padding-left:60px;}
/*============================================================================== bg3=========================================================================================================== */
.bg3 {background-color: black; color: white; margin-top: 126px;}
.bg3 .best_seller {font-family: "Playfair Display"; font-size: 3.75rem; font-weight: 700; padding-top: 110px; margin-left: 1128px;}
.bg3 .best_nav{margin-left: 1120px; margin-top: 60px;}
.bg3 .best_nav a{margin-right: 100px;}
.bg3 .best_menu{display: flex;}
.bg3 .best_menu .best_menu1{}
.bg3 .best_menu .best_menu1 h1{}
.bg3 .best_menu .best_menu1 h1 img{}
.bg3 .best_menu .best_menu1 h2{ margin-left: 52px; margin-top: 8px;}
.bg3 .best_menu .best_menu1 p{margin-left: 52px; margin-top: 8px; margin-bottom: 110px;}
.bg3 .best_menu .best_menu2{margin-top: 90px;}
.bg3 .best_menu .best_menu2 h1{}
.bg3 .best_menu .best_menu2 h1 img{}
.bg3 .best_menu .best_menu2 h2{margin-left: 62px; margin-top: 8px;}
.bg3 .best_menu .best_menu2 p{margin-left: 62px; margin-top: 8px; }
.bg3 .best_menu .best_menu3{margin-top: 90px;}
.bg3 .best_menu .best_menu3 h1{}
.bg3 .best_menu .best_menu3 h1 img{}
.bg3 .best_menu .best_menu3 h2{margin-left: 66px; margin-top: 8px;}
.bg3 .best_menu .best_menu3 p{margin-left: 66px; margin-top: 8px;}
.bg3 .best_menu .best_menu4{margin-top: 90px;}
.bg3 .best_menu .best_menu4 h1{}
.bg3 .best_menu .best_menu4 h1 img{}
.bg3 .best_menu .best_menu4 h2{margin-left: 66px; margin-top: 8px;}
.bg3 .best_menu .best_menu4 p{margin-left: 66px; margin-top: 8px;}
/*============================================================================== bg4=========================================================================================================== */
.bg4 {display: flex; margin-top: 177px;}
.bg4 .bg4_img h1{}
.bg4 .bg4_img h1 img{margin-left: 96px; margin-right: 133px;}
.bg4 .bg4_detail{}
.bg4 .bg4_detail h2{font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 2rem; line-height: 1.2; margin-top: 50px;}
.bg4 .bg4_detail h2 span{font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 3.125rem;line-height: 1.3;}
.bg4 .bg4_detail h3{font-size: 1.25rem; margin-top: 5px; margin-bottom: 33px;}
.bg4 .bg4_detail p{line-height: 1.3; color: #858585; margin-bottom: 78px;}
.bg4 .bg4_detail a{}
.bg4 .bg4_detail a img{}
/*============================================================================== bg5=========================================================================================================== */
.bg5 {margin-top: 283px; display: flex;}
.bg5 .bg5_left{margin-left: 212px; }
.bg5 .bg5_left h1{}
.bg5 .bg5_left h1 img{}
.bg5 .bg5_left .bg5_left_cosmetics{}
.bg5 .bg5_left .bg5_left_cosmetics a{margin-left: 60px;}
.bg5 .bg5_left .bg5_left_cosmetics a img{}
.bg5 .bg5_left .bg5_left_cosmetics h2{font-size: 1.25rem; margin-left: 110px;}
.bg5 .bg5_left .bg5_left_cosmetics p{font-size: 1.25rem; margin-left: 250px; margin-top: 13px; margin-bottom: 53px;}
.bg5 .bg5_left .bg5_left_cosmetics h3{}
.bg5 .bg5_left .bg5_left_cosmetics h3 img{margin-bottom: 247px; margin-left: 115px;}
.bg5 .bg5_right{margin-left: 218px; margin-top: 50px;}
.bg5 .bg5_right h1{}
.bg5 .bg5_right h1 img{}
/*============================================================================== bg6=========================================================================================================== */
.bg6 {}
.bg6 a{}
.bg6 a img{}
/*============================================================================== bg7=========================================================================================================== */
.bg7 {margin-top: 197px; }
.bg7 h1{text-align: center;}
.bg7 h1 img{}
.bg7 .all {display: flex;}
.bg7 .all .bg7_left{margin-left: 338px; margin-top: 117px;}
.bg7 .all .bg7_left h2{font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 2.25rem; line-height: 1.1;}
.bg7 .all .bg7_left h2 span{font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 2.5rem; font-weight: 600; line-height: 1.3;}
.bg7 .all .bg7_left h3{font-size: 1.5rem;font-family: "Red Hat Display", "맑은고딕",sans-serif; margin-top: 16px; margin-bottom: 48px;}
.bg7 .all .bg7_left h4{ color: #6D6D6D;  font-size: 1.25rem; line-height: 1.3; margin-bottom: 26px;}
.bg7 .all .bg7_left a{}
.bg7 .all .bg7_left a img{margin-bottom: 100px;}
.bg7 .all .bg7_left h5{}
.bg7 .all .bg7_left h5 img{}
.bg7 .all .bg7_right{margin-left: 100px;}
.bg7 .all .bg7_right h2{}
.bg7 .all .bg7_right h2 img{}
/*============================================================================== bg8=========================================================================================================== */
.bg8 {color: white; background-color: black;}
.bg8 h1 {font-family: "Playfair Display"; font-size: 3rem; padding-top: 60px; text-align: center; margin-bottom: 70px;}
.bg8 .bg8_menu{display: flex; margin-left: 283px;}
.bg8 .bg8_menu .bg8_menu1{margin-right: 65px; text-align: center;}
.bg8 .bg8_menu .bg8_menu1 h2{}
.bg8 .bg8_menu .bg8_menu1 h2 img{}
.bg8 .bg8_menu .bg8_menu1 h3{font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 1.25rem; margin-top: 26px; margin-bottom: 11px;}
.bg8 .bg8_menu .bg8_menu1 a{color: white;  font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 1.125rem;  border-bottom: 1px solid #CBCBCB; padding-bottom: 2px;}
.bg8 .bg8_menu .bg8_menu2{margin-right: 65px;text-align: center;}
.bg8 .bg8_menu .bg8_menu2 h2{}
.bg8 .bg8_menu .bg8_menu2 h2 img{}
.bg8 .bg8_menu .bg8_menu2 h3{ font-family: "Red Hat Display", "맑은고딕",sans-serif;  font-size: 1.25rem;margin-top: 26px; margin-bottom: 11px;}
.bg8 .bg8_menu .bg8_menu2 a{color: white; font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 1.125rem; border-bottom: 1px solid #CBCBCB; padding-bottom: 2px; }
.bg8 .bg8_menu .bg8_menu3{text-align: center; margin-bottom: 90px;}
.bg8 .bg8_menu .bg8_menu3 h2{}
.bg8 .bg8_menu .bg8_menu3 h2 img{}
.bg8 .bg8_menu .bg8_menu3 h3{ font-family: "Red Hat Display", "맑은고딕",sans-serif;  font-size: 1.25rem;margin-top: 26px; margin-bottom: 11px;}
.bg8 .bg8_menu .bg8_menu3 a{color: white; font-family: "Red Hat Display", "맑은고딕",sans-serif;  font-size: 1.125rem; border-bottom: 1px solid #CBCBCB; padding-bottom: 2px;}
/*============================================================================== bg9=========================================================================================================== */
.bg9 {}
.bg9 h1{text-align: center; margin-top: 131px;}
.bg9 h1 img{}
.bg9 p{text-align: center; margin-top: 20px; font-size: 1.35rem;font-family: "Red Hat Display", "맑은고딕",sans-serif; color: #808080;}
.bg9 .all {display: flex;}
.bg9 .all h2{margin-top: 70px; margin-left: 383px;}
.bg9 .all h2 img{}
.bg9 .all .bg9_right{display: flex;}
.bg9 .all .bg9_right .omg h3{margin-top: 70px;}
.bg9 .all .bg9_right .omg h3 img{}
.bg9 .all .bg9_right .detail {margin-top: 213px;}
.bg9 .all .bg9_right .detail h4{font-size: 1.5rem; font-family: "Red Hat Display", "맑은고딕",sans-serif; line-height: 1.1; margin-bottom: 22px;}
.bg9 .all .bg9_right .detail h5{margin-bottom: 55px;}
.bg9 .all .bg9_right .detail a{}
.bg9 .all .bg9_right .detail a img{margin-bottom: 171px;}
.bg9 h6{}
.bg9 h6 img{margin-left: 1150px;}
/*============================================================================== footer=========================================================================================================== */
footer {background-color: black; color: white; margin-top: 110px; font-size: 1.125rem;}
footer .f_top{padding-top: 43px; text-align: center; margin-bottom: 60px;}
footer .f_top a{color: white; font-family: "Red Hat Display", "맑은고딕",sans-serif;  margin-right: 50px;}
footer .f_mid{display: flex;}
footer .f_mid .f_mid1{margin-left: 506px; margin-right: 150px;}
footer .f_mid .f_mid1 dl{}
footer .f_mid .f_mid1 dl dt{ font-family: "Red Hat Display", "맑은고딕",sans-serif; margin-bottom: 19px; font-weight: 500;}
footer .f_mid .f_mid1 dl dt span{ font-family: "Red Hat Display", "맑은고딕",sans-serif; font-weight: 400; margin-left: 50px; }
footer .f_mid .f_mid1 dl dt .detail{ font-family: "Red Hat Display", "맑은고딕",sans-serif; font-weight: 400; margin-left: 53px; }
footer .f_mid .f_mid1 dl dd{}
footer .f_mid .f_mid2{}
footer .f_mid .f_mid2 dl{}
footer .f_mid .f_mid2 dl dt{ font-family: "Red Hat Display", "맑은고딕",sans-serif; margin-bottom: 19px;font-weight: 500;}
footer .f_mid .f_mid2 dl dt span{ font-family: "Red Hat Display", "맑은고딕",sans-serif; font-weight: 400;  margin-left: 50px; }
footer .f_mid .f_mid2 dl dt .detail{ font-family: "Red Hat Display", "맑은고딕",sans-serif; font-weight: 400;  margin-left: 59px; }
footer .f_mid .f_mid2 dl dd{}
footer .f_sns{text-align: center; margin-top: 50px;}
footer .f_sns a{margin-right: 20px;}
footer p{ font-family: "Red Hat Display", "맑은고딕",sans-serif; font-size: 1rem;text-align: center; margin-top: 20px; padding-bottom: 35px; }